.bakeryThird {

    width: 530px;
    height: 330px;
    background-image: url('../pics/aroma6.jpg');
    object-fit: cover;
    background-size: cover;
   
    z-index: -1;
      
    text-align: center;
    justify-content: center;
}